.Main-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}
.header{
    grid-column: 2/6;
    grid-row: 1/1;
    background-color: #ee4a4a;
    text-align: center;
    padding: 20px;
}
.content{
    grid-column: 2/6;
    grid-row: 2/8;

    background-color: #0259ff;
    padding: 20px;
}
.content_dice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dice{
padding: 50px;

}
#roll{
    width: 200px;
    height: 100px;
    border-radius: 40px;
}
.foot{
background-color: aqua;
}